---
import i18next, { setDefaultNamespace, t, changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";
import NewPricingComponent from "../../components/NewPricing.svelte";
import Text from "../../components/Text.svelte";
import HeaderText from "../../components/HeaderText.svelte";
import DownloadComponent from "../../components/Download.svelte";
import { Trans } from "astro-i18next/components";

changeLanguage("fr");

setDefaultNamespace("upgrade");
const locale = i18next.language || "en";
const p = i18next.getResource(i18next.language, "pricing", "", {});
---

<Main title={t("meta.title")}> 

  <div class="page">
    <div class="wider-content">
      <HeaderText>
        <Trans i18nKey="header" ns="upgrade">Upgrade</Trans>
      </HeaderText>
      <div class="price-title">
        <h1 class="title">
          <Trans i18nKey="title" ns="upgrade">
            Thank you for using Ellie! Get more replies to <Text important>boost your email efficiency by 100x</Text>!
          </Trans>
        </h1>
        <p class="extras">
          <Trans i18nKey="lead" ns="upgrade">
            Ellie creates much better replies with one of our paid plans. You'll be able to enhance Ellie by uploading additional knowledge documents, creating Roles, and letting Ellie learn from your sent emails folder!
          </Trans>
        </p>
      </div>
    </div>

    <div id="submit-container" class="signup">
      <NewPricingComponent 
        ignoreBasic={true} 
        discountText={t("discount")} 
        discountPercentage={20} 
        translations={p} 
        locale={locale} 
      />
      <DownloadComponent />
    </div>

    <div class="pricing-faq">
      <div class="price-title">
        <h2 class="title">Pricing FAQ</h2>
      </div>
      <ul>
        <li>
          <h4>Can I use Ellie to write cold-emails?</h4>
          <p>
            <Text important>No.</Text> Ellie will only write replies to emails, not
            cold emails.
          </p>
        </li>
        <li>
          <h4>What is a reply?</h4>
          <p>
            Each plan gives you a certain number of <Text important
              >replies</Text
            >. This is how many emails Ellie can write for you per day.
          </p>
        </li>
        <li>
          <h4>What's the difference between the AI models?</h4>
          <p>
            AI language models come in many different flavours. The current most
            advanced model is called <Text important>GPT-4</Text>. This model is
            capable of advanced instruction and creativity.
          </p>
          <p>
            We've tweaked and prompted the model to make it much better at
            replying to emails. You'll be surprised by the accuracy of email
            replies it generates!
          </p>
          <p>
            On our Professional plan we can use your email history to create a
            further <Text important>fine-tuned</Text> model - the best that it can
            get - that will be indistinguishable from a human.
          </p>
        </li>
        <li>
          <h4>What is Advanced Training?</h4>
          <p>
            GPT-4 has a general knowledge of the world, but is only trained from
            public data available on the internet.
          </p>
          <p>
            Our bespoke <Text important>Advanced Training</Text>
            lets you further train Ellie to understand more specific or private information.
            You can either upload text documents (pdf, txt, docx, etc), or give Ellie
            a URL from which to learn.
          </p>
        </li>
        <li>
          <h4>What are roles for?</h4>
          <p>
            Our Roles feature allows you to specify different positions in your
            company for Ellie, each that use different training sets.
          </p>
          <p>
            For example if you want Ellie to take on a
            <Text important>Customer Support</Text> role, you can upload your company
            help documation and assign Ellie the role of "Customer Suppport Specialist".
            While in that role Ellie will use the help documentation while replying
            to emails. You can also instruct Ellie on how to reply to emails while
            in this role.
          </p>
          <p>
            If you use your email to perform various different tasks, then roles
            will be perfect for you.
          </p>
        </li>
        <li>
          <h4>Any other questions?</h4>
          <p>
            <a href="mailto:hi@tryellie.com">Send us an email</a> and we'll be happy
            to help!
          </p>
          <p>
            Our dedicated support team will reach back out to you personally.
            Although we love using Ellie, we promise that a real human will
            reply to your questions every time ;)
          </p>
        </li>
        <div class="questions"></div>
      </ul>
    </div>
  </div>

  <style>
    .price-title,
    .page-header {
      text-align: center;
    }
    .content {
      width: 700px;
    }
    .title {
      font-size: 32px;
      margin: 0 auto;
    }

    .extras {
      margin-bottom: 2em;
      text-align: center;
      font-weight: 500;
      opacity: 0.7;
    }

    .pricing-faq {
      padding: 2em 0 4em 0;
    }
    .pricing-faq ul {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
    }

    .pricing-faq li {
      width: 40%;
      padding: 20px 15px;
    }

    .pricing-faq h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .pricing-faq p {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      .pricing-faq li {
        width: 90%;
        padding: 5px 15px;
      }
    }
  </style>
</Main>
