---
import Main from "../layouts/Main.astro";
---

<Main title="Manage subscription - EllieAI">
  <div class="page">
    <div class="section">
      <div class="content">
        <h2>Manage your subscription</h2>
        <p>
          Update your billing details, view invoice history, upgrade or cancel
          your plan.
        </p>
        <a
          href="https://billing.stripe.com/p/login/5kA7uDfL714d4GQ6oo"
          class="btn">Manage subscription</a
        >
        <br />
        <br />
        <p>Or visit this direct link:</p>
        <p>
          <a href="https://billing.stripe.com/p/login/5kA7uDfL714d4GQ6oo"
            >https://billing.stripe.com/p/login/5kA7uDfL714d4GQ6oo</a
          >
        </p>
      </div>
    </div>
  </div>
</Main>
