---
import i18next, { changeLanguage, setDefaultNamespace, t } from "i18next";
import Main from "../layouts/Main.astro";
import FAQ from "../components/FAQ.astro";
import Proof from '../components/Proof.astro';
import Stats from "../components/Stats.svelte";
import Stars from "../components/Stars.astro";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Video from "../components/Video.svelte";

changeLanguage("en");

setDefaultNamespace("common");
---

<Main title={t("meta.title")}>
  <div class="page">
    <div class="hero">
      <div class="content">
        <h1 class="hero-title">
          {t("hero.title")}
          <svg
            role="presentation"
            class="heart"
            viewBox="0 0 32 32"
            width="20"
            height="20"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z"
            ></path>
          </svg>
        </h1>
        <p class="hero-lead">
          {t("hero.description")}
        </p>
        <Video
          flat
          innerClass="hero-img"
          client:load
          url="https://ellie.b-cdn.net/hero.mov"
        />
      </div>
    </div>

    <section class="download-section">
      <div class="container">
        <Stats client:only shown={i18next.language === "en"} />
        <span class="btn-group">
          <span>
            <a class="btn cta" href="/downloads">
              <span>{t("main.cta")}</span>
              <span class="browser-icons">
                <img
                  class="browser-icon"
                  src="/assets/chrome.png"
                  alt="chrome icon"
                />
                <img
                  class="browser-icon"
                  src="/assets/firefox.png"
                  alt="firefox icon"
                />
              </span>
            </a>
            <span class="available">{t("main.version")}</span>
          </span>
          <a class="btn cta secondary" href="/pricing">
            <span>{t("main.purchase")}</span>
          </a>
        </span>
      </div>
    </section>

    <Proof />

    <section class="section image-section image-right">
      <div class="section-text">
        <h2>{t("features:context.title")}</h2>
        <Trans i18nKey="context.content" ns="features">
          <p>
            Ellie takes context from the email thread to
            <strong>craft intelligent replies</strong>.
          </p>
          <p>We promise you'll be blown away by Ellie's responses!</p>
        </Trans>
        <div class="inline-review">
          <Stars />
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="jared" ns="testimonials">
                <span class="review-highlight"
                  >Ellie knows exactly what I want to say</span
                >, and the exact right way to say it.
              </Trans>
            </p>

            <p class="review-author">- Jared</p>
          </blockquote>
        </div>
      </div>
      <div class="image-container">
        <img
          src="/assets/context-email.png"
          role="presentation"
          alt="Showing Ellie write a context filled email"
          class="example-image"
        />
      </div>
    </section>

    <section class="section image-section image-left">
      <div class="image-container">
        <img
          src="/assets/language.png"
          role="presentation"
          alt="Showing Ellie write a context filled email"
          class="example-image"
        />
      </div>
      <div class="section-text">
        <h2>{t("features:multilingual.title")}</h2>
        <p>
          <Trans i18nKey="multilingual.content" ns="features">
            Ellie will reply in <strong>any language</strong> to match the email
            being replied to.
          </Trans>
        </p>
        <div class="inline-review">
          <Stars />
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="julie" ns="testimonials">
                I struggled to compose formal emails in English, but now Ellie
                writes them and <span class="review-highlight"
                  >saves me SO much time!</span
                > 🤩
              </Trans>
            </p>
            <p class="review-author">- Julie Berteaux</p>
          </blockquote>
        </div>
      </div>
    </section>

    <section class="section image-section image-right">
      <div class="section-text">
        <h2>{t("features:iterate.title")}</h2>

        <p>
          <Trans i18nKey="iterate.content" ns="features">
            You can <strong>revise</strong> Ellie's response to something, to tweak
            exactly what you want Ellie to say.
          </Trans>
        </p>

        <div class="inline-review">
          <Stars />
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="hicham" ns="testimonials">
                Very easy to use.
                <span class="review-highlight"
                  >Ellie has made writing emails so much faster!</span
                >
                Thank you!
              </Trans>
            </p>
            <p class="review-author">- Hicham Annik</p>
          </blockquote>
        </div>
      </div>

      <Video
        innerClass="hero-img"
        client:visible
        url="https://ellie.b-cdn.net/revisions.mov"
      />
    </section>

    <section class="section image-section image-left">
      <Video
        innerClass="hero-img"
        client:visible
        url="https://ellie.b-cdn.net/context.mov"
      />
      <div class="section-text">
        <h2>{t("features:tailor.title")}</h2>
        <p>
          <Trans i18nKey="tailor.content" ns="features">
            You can provide <strong>extra context</strong> to Ellie for the perfect
            reply for every email.
          </Trans>
        </p>
        <div class="inline-review">
          <Stars />
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="joan" ns="testimonials">
                With Ellie
                <span class="review-highlight">I can answer every email</span>
                and not waste any time.
              </Trans>
            </p>
            <p class="review-author">- Joan</p>
          </blockquote>
        </div>
      </div>
    </section>

    <FAQ />
  </div>
</Main>
