---
import { setDefaultNamespace, t, changeLanguage } from "i18next";
import Main from "../layouts/Main.astro";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

setDefaultNamespace("pricing");
---

<Main title={t("meta.title")}>
  <script src="https://js.stripe.com/v3/"></script>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>

  <div class="page">
    <div class="content">
      <div class="price-title">
        <h1>{t("title")}</h1>
        <p class="hero-lead"></p>
      </div>
    </div>

    <div id="submit-container" class="signup">
      <section class="container">
        <div class="price-banner">
          <Trans i18nKey="banner.hny">
            <p>Happy New Year! 🧧</p>
            <p>
              Enjoy 50% off all plans with the promo code
              <strong class="promo-code">RABBIT50</strong>
            </p>
            <p>Available this week only!</p>
          </Trans>
        </div>
        <p class="promo-note">
          {t("promo")}
        </p>
      </section>

      <div class="pricing-table">
        <stripe-pricing-table
          pricing-table-id="prctbl_1MFpmIKX00qb5MmaMrQuVWbq"
          publishable-key="pk_live_51MErfjKX00qb5MmaXELY7r6Da90Lds6EOQTYSYD4BsUNeIVH1kwhlESrpa3yFLXOG8brqjzFg8zNRc3jjo0T5yFj00oM46qfct"
        >
        </stripe-pricing-table>
      </div>
    </div>
  </div>
</Main>
