---
import { changeLanguage } from "i18next";
import Main from "../layouts/Main.astro";

changeLanguage("en");
---

<Main title="Privacy Policy - Ellie, Your AI Email Assistant">
  <div class="page">
    <div class="section">
      <div class="content">
        <h1>Privacy Policy</h1>
        <p>
          Your privacy is important to us. It is our policy to respect your
          privacy regarding any information we may collect from you across our
          website, <a href="https://tryellie.com">tryellie.com</a>, and any other
          sites we own and operate.
        </p>
        <h2>Personal information</h2>
        <p>
          We only ask for personal information when we truly need it to provide
          the service to you. We collect it by fair and lawful means, with your
          knowledge and consent. We also let you know why we're collecting it
          and how it will be used.
        </p>
        <p>
          We only retain collected information for as long as necessary to
          provide you with your requested service. What data we store, we
          protect within commercially acceptable means to prevent loss and
          theft, as well as unauthorised access, disclosure, copying, use or
          modification.
        </p>
        <p>
          You are free to refuse our request for your personal information, with
          the understanding that we may be unable to provide you with some or
          all of our service.
        </p>

        <h2>GDPR</h2>
        <p>
          If you are an EU resident then you have the right at any time to
          request all the personal information we have for you as dictated by
          the General Data Protection Regulation (GDPR). Under the same
          regulation, we will also delete any or all of this information at your
          request.
        </p>
        <p>
          If you are not an EU resident then we will still provide this
          information to you if you ask for it, because we believe you should
          have these rights regardless of where in the world you live.
        </p>

        <h2>The Service</h2>
        <h3>Email data</h3>
        <p>
          You have the option to provide Ellie with various data to help to
          "train" the AI to write like you. Some of this data is stored on our
          systems, such as the information from the "Basic Training" and
          "Advanced Training" fields in the extension settings.
        </p>
        <p>
          When you ask Ellie to write an email on your behalf, this training
          data is sent alongside a section of the most recent email replies in
          the thread to OpenAI, who provide the machine learning models that
          make Ellie possible. The data is only ever shared with OpenAI for this
          purpose.
        </p>
        <p>
          <strong>No other data is harvested from your email client.</strong>
        </p>
        <p>
          The result of the reply generation is returned directly to you, and we
          do not store or share it.
        </p>
        <p>
          We have requested that
          <a
            href="https://help.openai.com/en/articles/5722486-how-your-data-is-used-to-improve-model-performance"
            >OpenAI do not use any data we send them</a
          >
          to train future models, so there should be no concern about your information
          being regurgitated by the AI in future.
        </p>
        <p>
          We are dedicated to upholding the privacy of your information and
          agree to never do anything with any data we create, except provide you
          an excellent service.
        </p>

        <h3>Third parties</h3>
        <p>
          We don't share any user data publicly or with third-parties, except
          when required to by law. To date this has never been requested.
        </p>
        <p>
          We do use a few third-party scripts with whom we share non-personal
          data for the following purposes;
        </p>
        <ol>
          <li>
            <p>
              AI Modeling (
              <a href="https://openai.com/privacy/"> OpenAI</a>
              )
            </p>
          </li>
          <li>
            <p>
              Page view analytics (
              <a href="https://simpleanalytics.com/privacy">
                Simple Analytics
              </a>
              )
            </p>
          </li>

          <li>
            <p>
              Payment processing (
              <a href="https://stripe.com/en-ee/privacy"> Stripe</a>
              )
            </p>
          </li>
        </ol>
        <p>
          We have ensured that the respective privacy policies of these
          companies align with our own values.
        </p>
        <h3>External sources</h3>
        <p>
          Our website may link to external sites that are not operated by us.
          Please be aware that we have no control over the content and practices
          of these sites, and cannot accept responsibility or liability for
          their respective privacy policies.
        </p>
        <p>
          It's also possible for Ellie to generate URLs that link to external
          websites. The same applies to these.
        </p>

        <hr />
        <p>
          We believe that by following these rules we can keep your data as safe
          as possible, but if you have any suggestions on how we can improve
          then
          <a href="mailto:hi@tryellie.com">let us know</a>!
        </p>
        <p>
          Your continued use of our website will be regarded as acceptance of
          our practices around privacy and personal information. If you have any
          questions about how we handle any of our data, feel free to
          <a href="mailto:hi@tryellie.com">contact us</a>.
        </p>
        <hr />
        <p>
          This policy was last updated on the
          <strong>15th December 2022</strong>.
        </p>
        <h2>Previous versions:</h2>
        <p>
          For accountability we keep the old versions of our privacy policy
          around to view here.
        </p>
        <!-- <ol>
        <li>
          <p>
            <Link to="/privacy/history/23-07-2019">23rd July 2019</Link>
          </p>
        </li>
        <li>
          <p>
            <Link to="/privacy/history/25-09-2019">25th September 2019</Link>
          </p>
        </li>
        <li>
          <p>
            <Link to="/privacy/history/17-10-2020">17th October 2020</Link>
          </p>
        </li>
        <li>
          <p>
            <Link to="/privacy/history/25-02-2021">25th Feburary 2021</Link>{' '}
            <a href="/privacy/25-02-2021-diff.txt">(diff)</a>
          </p>
        </li>
        <li>
          <p>
            <Link to="/privacy/history/08-04-2022">8th April 2022</Link>{' '}
            <a href="/privacy/08-04-2022-diff.txt">(diff)</a>
          </p>
        </li>
        <li>
          <p>
            <Link to="/privacy/history/24-08-2022">24th August 2022</Link>{' '}
            <a href="/privacy/24-08-2022-diff.txt">(diff)</a>
          </p>
        </li>
      </ol> -->
      </div>
    </div>
  </div>
</Main>
