---
import { t, changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";

changeLanguage("ru");
---

<script>
  const apiUrl = window.location.href.includes("localhost")
    ? "http://localhost:3113"
    : "https://api.tryellie.com";
  document
    .getElementById("signup-form")
    .addEventListener("submit", async function (e) {
      e.preventDefault();
      const btn = document.getElementById("submit-btn");
      btn.setAttribute("disabled", true);
      btn.innerText = "Loading...";
      const email = document.getElementById("email-address").value;
      const data = { email };
      const output = await fetch(`${apiUrl}/signup/forgot`, {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      });
      btn.removeAttribute("disabled");
      btn.innerText = "Submit";

      const json = await output.json();
      if (json.errored) {
        alert(json.message);
      }
      if (json.success) {
        document.getElementById("submit-container").classList.add("hidden");
        document.getElementById("result").classList.remove("hidden");
      }
    });
</script>

<Main title="Forgot licence key - Ellie">
  <div class="page">
    <div class="section">
      <div class="content">
        <h1>{t("forgot.title")}</h1>
        <div id="submit-container">
          <p>
            {t("forgot.description")}
          </p>
          <form id="signup-form">
            <div class="form-group">
              <label for="email-address">{t("labels.your-email")}</label><br />
              <input
                required
                type="email"
                placeholder="you@example.com"
                id="email-address"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <button id="submit-btn" type="submit" class="btn"
                >{t("submit")}</button
              >
            </div>
          </form>
        </div>

        <div id="result" class="hidden">
          <p>{t("forgot.emailed-to-you")}</p>
          <p><strong>{t("forgot.check-spam")}</strong></p>
        </div>
      </div>
    </div>
  </div>
</Main>
