---
import { changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";

changeLanguage("ru");
---

<Main title="Privacy Policy - Ellie, Your AI Email Assistant">
  <div class="page">
    <div class="section">
      <div class="content">
        <h1>Privacy Policy</h1>
        <p>
          Your privacy is important to us. It is our policy to respect your
          privacy regarding any information we may collect from you across our
          website, <a href="https://tryellie.com">tryellie.com</a>, and any
          other sites we own and operate.
        </p>
        <h2>1. Personal information</h2>
        <p>
          We only ask for personal information when we truly need it to provide
          the service to you. We collect it by fair and lawful means, with your
          knowledge and consent. We also let you know why we're collecting it
          and how it will be used.
        </p>
        <p>
          We only retain collected information for as long as necessary to
          provide you with your requested service. What data we store, we
          protect within commercially acceptable means to prevent loss and
          theft, as well as unauthorised access, disclosure, copying, use or
          modification.
        </p>
        <p>
          You are free to refuse our request for your personal information, with
          the understanding that we may be unable to provide you with some or
          all of our service.
        </p>

        <h2>2. GDPR</h2>
        <h3>i. Your data</h3>
        <p>
          You have the option to provide Ellie with various data to help to
          "train" the AI to write like you. Some of this data is stored on our
          systems, such as the information that you explicitly provide us from
          the "Knowledge Base" feature. This data is used to compliment future
          email replies.
        </p>
        <p>
          When you ask Ellie to write an email on your behalf, this training
          data is sent alongside a section of the most recent email replies in
          the thread to OpenAI, who provide the machine learning models that
          make Ellie possible. The data is only ever shared with OpenAI for this
          purpose.
        </p>
        <p>
          <strong>No other data is harvested from your email client.</strong>
        </p>
        <p>
          The result of the reply generation is returned directly to you, and we
          do not store or share it.
        </p>
        <p>
          We have requested that
          <a
            href="https://help.openai.com/en/articles/5722486-how-your-data-is-used-to-improve-model-performance"
            >OpenAI do not use any data we send them</a
          >
          to train future models, so there should be no concern about your information
          being regurgitated by the AI in future.
        </p>
        <p>
          We are dedicated to upholding the privacy of your information and
          agree to never do anything with any data we create from any of your
          information, except provide you an excellent service.
        </p>
        <p>
          For financial administration purposes, if you subscribe to a plan then
          we process your name, email and credit card details. We are not able
          to process your payment without this information. We will delete this
          information as soon as you delete your account. If desired, we can
          send you an invoice. We will then process your company name, address
          and VAT ID. According to a legal obligation of the Estonian Tax and
          Customs Administration, we are required to store invoice data for 7
          years. After this period we will anonymize this data.
        </p>

        <p>
          In the unlikely event that you have a complaint about our services, we
          will process your name, email and the content of and communication
          regarding this complaint in order to find the best possible solution
          for you.
        </p>

        <p>
          We have a commercial interest in using some of your personal data for
          marketing purposes. We process your email for direct marketing. We
          process your email when you ask us a question in the chat box or when
          you indicate that you want to be kept informed about our latest blog
          articles. We will delete this information as soon as you unsubscribe
          or indicate that you no longer wish to be contacted by us.
        </p>

        <h3>ii. How do we obtain this information?</h3>
        <p>
          We have obtained the above information from you as a user of the Ellie
          extension, because you have provided us with this information.
          Furthermore, we can obtain your address, as known by the government,
          through our payment provider Stripe when we validate your VAT number.
        </p>

        <h3>iii. What rights do you have with regard to this data?</h3>
        <p>
          If you are an EU resident then you have the right at any time to
          request all the personal information we have for you as dictated by
          the General Data Protection Regulation (GDPR). Under the same
          regulation, we will also delete any or all of this information at your
          request.
        </p>
        <p>In short, these are your full GDPR rights:</p>
        <ul>
          <li>
            <p>
              <strong>Access</strong> - You can request to view your data at any
              time.
            </p>
          </li>
          <li>
            <p>
              <strong> Correct</strong> - If you want to have your data adjusted,
              corrected, supplemented, protected or erased, you can submit a request
              and we will be happy to make those changes for you.
            </p>
          </li>
          <li>
            <p>
              <strong>Object</strong> - You can object to the processing of your
              data.
            </p>
          </li>
          <li>
            <p>
              <strong>Data transfer</strong> - If you want to transfer your data
              to another provider, we will provide your data in a structured and
              commonly used form that can be accessed by common digital systems.
            </p>
          </li>
          <li>
            <p>
              <strong>Automated processing</strong> - You may always inform us of
              your view on an automated decision and have this decision reconsidered
              by a third person.
            </p>
          </li>
          <li>
            <p>
              <strong>Withdrawal</strong> - When we process data based on your explicit
              consent, you have the right to withdraw your consent. This may have
              consequences for the services we are able to provide to you.
            </p>
          </li>
        </ul>
        <p>
          If you are not an EU resident then we will still afford you these
          rights if you ask for it, because we believe you should possess them
          regardless of where in the world you live.
        </p>

        <h3>iv. Who receives your data?</h3>
        <p>
          We will not provide your data to third parties, unless this is
          necessary for business operations or is required by law. We try to use
          as few external services as possible. Your data can be passed on to
          processors and parties involved in the execution of the agreement. We
          conclude processing agreements with these third parties to optimally
          protect your privacy.
        </p>
        <p>
          Your data will always remain yours. We will never sell your data to
          third parties.
        </p>
        <p>These are our data-providers and how they use your data;</p>
        <ol>
          <li>
            <p>
              AI Modeling and generating email replies (
              <a href="https://openai.com/privacy/"> OpenAI</a>
              )
            </p>
          </li>
          <li>
            <p>
              Page view analytics (
              <a href="https://simpleanalytics.com/privacy">
                Simple Analytics
              </a>
              )
            </p>
          </li>

          <li>
            <p>
              Payment processing (
              <a href="https://stripe.com/en-ee/privacy"> Stripe</a>
              )
            </p>
          </li>
          <li>
            <p>
              AI Monitoring & Analysis (
              <a href="https://www.helicone.ai/terms"> Helicone</a>
              )
            </p>
          </li>
          <li>
            <p>
              Knowledge Base data retreival (
              <a href="https://www.pinecone.io/privacy/"> Pinecone</a>
              )
            </p>
          </li>
        </ol>

        <h2>3. External sources</h2>
        <p>
          Our website may link to external sites that are not operated by us.
          Please be aware that we have no control over the content and practices
          of these sites, and cannot accept responsibility or liability for
          their respective privacy policies.
        </p>
        <p>
          It's also possible for Ellie to generate URLs that link to external
          websites. The same applies to these.
        </p>

        <h2>4. Transfers of ownership</h2>
        <p>
          In the event that we are involved in a merger, acquisition, or sale of
          all or a portion of our assets, your personal information may be
          transferred as part of that transaction. We will ensure that any new
          entity to which we transfer your data will continue to honor the terms
          of this Privacy Policy, or will provide notice and obtain your consent
          if required by applicable laws.
        </p>

        <h2>5. Security</h2>
        <p>
          We take the security of your personal information seriously and
          implement a variety of measures to safeguard it, including:
        </p>
        <ul>
          <li>
            <p>
              <strong>Data Encryption</strong>: We use industry-standard
              encryption protocols to protect data during transmission and
              storage.
            </p>
          </li>
          <li>
            <p>
              <strong>Access Controls</strong>: Access to personal information
              is restricted to authorized personnel only, based on the principle
              of least privilege.
            </p>
          </li>
          <li>
            <p>
              <strong>Regular Audits</strong>: We conduct regular internal
              security audits and assessments to identify and mitigate potential
              vulnerabilities.
            </p>
          </li>
          <li>
            <p>
              <strong>Secure Storage</strong>: Personal information is stored on
              secure servers with robust access controls and monitoring.
            </p>
          </li>
          <li>
            <p>
              <strong>User Authentication</strong>: We employ multi-factor
              authentication (MFA) to secure our own user accounts and access to
              our services.
            </p>
          </li>

          <li>
            <p>
              <strong>Third-Party Security</strong>: We ensure that any
              third-party service providers we use also adhere to stringent
              security standards and practices.
            </p>
          </li>
        </ul>
        <p>
          We are committed to protecting your information and will continue to
          improve our security practices to keep your data safe.
        </p>

        <h2>6. Final provisions</h2>
        <p>
          We believe that by following these rules we can keep your data as safe
          as possible, but if you have any suggestions on how we can improve
          then
          <a href="mailto:hi@tryellie.com">let us know</a>!
        </p>
        <p>
          Your continued use of our website will be regarded as acceptance of
          our practices around privacy and personal information. If you have any
          questions about how we handle any of our data, feel free to
          <a href="mailto:hi@tryellie.com">contact us</a>.
        </p>
        <hr />
        <p>
          This policy was last updated on the
          <strong>11th September 2024</strong>.
        </p>
        <h2>Previous versions:</h2>
        <p>
          For accountability we keep the old versions of our privacy policy
          around to view here.
        </p>
        <ol>
          <li>
            <p>
              <a href="/privacy/15-12-2022">15th December 2022</a>
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</Main>
