---
import { Trans } from "astro-i18next/components";
import { t, setDefaultNamespace } from "i18next";
import questions from "../../public/locales/en/faq.json";

setDefaultNamespace("faq");
---

<section class="faq">
  <ul>
    {
      Object.entries(questions).map(([num, question]) => (
        <li>
          <div class="question">
            <strong>{t(`faq:${num}.title`)}</strong>
          </div>
          {question.content.map((content, i) => (
            <p>
              <Trans i18nKey={`${num}.content.${i}`} ns="faq">
                {question.links ? (
                  question.links.map((l) => <a href={l}>a</a>)
                ) : (
                  <span />
                )}
              </Trans>
            </p>
          ))}
        </li>
      ))
    }
  </ul>
</section>

<style>
  .faq {
    padding: 20px 0;
  }

  .faq p {
    margin-top: 0.5em;
  }

  .question {
    margin-top: 1.5em;
  }

  .faq ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }

  .faq li {
    width: 40%;
    padding: 20px 15px;
  }

  @media (max-width: 560px) {
    .faq li {
      width: 90%;
      padding: 5px 15px;
    }
  }

  .faq h4 {
    font-weight: 500;
  }
</style>
