---
import { Trans } from "astro-i18next/components";
import { t, setDefaultNamespace } from "i18next";
import questions from "../../public/locales/en/faq.json";

setDefaultNamespace("faq");
---

<section class="faq section">
  <div class="content">
    <h2>FAQ</h2>
    <ul>
      {
        Object.entries(questions).map(([num, question]) => (
          <li>
            <div class="question">
              <strong>{t(`faq:${num}.title`)}</strong>
            </div>
            {question.content.map((content, i) => (
              <p>
                <Trans i18nKey={`${num}.content.${i}`} ns="faq">
                  {question.links ? (
                    question.links.map((l) => <a href={l}>a</a>)
                  ) : (
                    <span />
                  )}
                </Trans>
              </p>
            ))}
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .faq {
    padding: 50px 0;
    border-top: 1px solid #d5d5d5;
  }

  .faq p {
    margin-top: 0.5em;
  }

  .question {
    margin-top: 1.5em;
  }

  .faq ul {
    padding: 0;
    list-style: none;
  }
  .faq h4 {
    font-weight: 500;
  }
</style>
