---
import { Trans } from "astro-i18next/components";
import { t, setDefaultNamespace } from "i18next";
import questions from "../../public/locales/en/faq.json";

setDefaultNamespace("faq");
---

<section class="faq section">
  <div class="content">
    <h2>FAQ</h2>
    <ul>
      {
        Object.entries(questions).map(([num, question]) => (
          <li>
            <div class="question">
              <strong>{t(`faq:${num}.title`)}</strong>
            </div>
            {question.content.map((content, i) => (
              <p>
                <Trans i18nKey={`${num}.content.${i}`} ns="faq">
                  {question.links ? (
                    question.links.map((l) => <a href={l}>a</a>)
                  ) : (
                    <span />
                  )}
                </Trans>
              </p>
            ))}
          </li>
        ))
      }
      <!-- <li>
        <div class="question">
          <strong>Who are you!?</strong>
        </div>
        <p>
          Nice to meet you! We are
          <a href="https://twitter.com/dinkydani21">Danielle</a> and
          <a href="https://twitter.com/jamesivings">James</a>, two nomad
          developers travelling the world on our small sailboat and building
          cool stuff!
        </p>
      </li>
      <li>
        <div class="question">
          <strong>Can we write a story about Ellie?</strong>
        </div>
        <p>
          If you're a member of the press and want to chat,
          <a href="mailto:hi@tryellie.com">send us an email</a>!
        </p>
      </li> -->
      <!-- <li>
        <div class="question">
          <strong>Does Ellie read my emails?</strong>
        </div>
        <p>
          No, Ellie doesn't access your emails. You can provide Ellie with some
          example email data so that the AI will match your style better, and
          when replying to a thread Ellie will read the most recent replies so
          that it can generate some context and create the most relevant reply.
        </p>
      </li>
      <li>
        <div class="question">
          <strong>What browsers are supported?</strong>
        </div>
        <p>
          Ellie is available as a Chrome or Firefox Extension. Visit the
          <a href="/downloads">downloads</a>
          page for more information.
        </p>
      </li>
      <li>
        <div class="question">
          <strong>What email clients are supported?</strong>
        </div>
        <p>
          So far only Gmail is fully supported but you can use the toolbar popup
          to generate a reply to emails in other clients. We'll roll out full
          support for other web-based clients soon.
        </p>
        <p>
          Visit the <a href="/help">help</a> to learn how to use the popup for Outlook,
          Fastmail, Apple Mail and more.
        </p>
      </li>
      <li>
        <div class="question">
          <strong>Why is there a limit on the number of replies?</strong>
        </div>
        <p>
          Sorry! Training AI and generating content costs a fair amount of
          money. We're a small team without funding so we have to charge for our
          work!
        </p>
        <p>
          You can sign up for
          <a href="/pricing">one of our paid plans</a> to get more replies!
        </p>
      </li>
      <li>
        <div class="question">
          <strong>What are revisions?</strong>
        </div>
        <p>
          You can tell Ellie to revise sections of an email by highlighting it
          and clicking "revise". Ellie will try to come up with a different
          sentence that fits in that space.
        </p>
        <p>You can revise each email up to 5 times.</p>
      </li>
      <li>
        <div class="question">
          <strong>Why did you make this?</strong>
        </div>
        <p>
          We think that there is a power imbalance in email. Although its one of
          the most useful inventions of all time, as a single email user, you
          have no control over who can email you, or what they can put in front
          of you to briefly grab your attention.
        </p>
        <p>
          There's almost no penalty for sending mass-emails to as many people as
          possible, most of which are a complete waste of time and energy.
        </p>
        <p>
          At least by using Ellie we can claw a small amount of power back, by
          automating our replies to these automated emails, so that they can no
          longer monopolise our time.
        </p>
        <p>
          Others are also using Ellie to overcome reply anxiety, or as a tool to
          help with dyslexia or language & grammar skills.
        </p>
        <p>
          If you're using Ellie in an interesting way,
          <a href="mailto:hi@tryellie.com">please let us know</a>! We'd love to
          hear about it!
        </p>
      </li>
      <li>
        <div class="question">
          <strong>I don't want you to read my private emails!</strong>
        </div>
        <p>
          We believe everyone has a fundamental right to the privacy of their
          data (and have built a product already on that premise).
        </p>
        <p>
          Your email replies are only used by Ellie to generate a response. We
          don't store the email data and promise to never share, sell, or do
          anything shady with your data.
        </p>
        <p>
          The reason we can promise this is because we're independent
          developers, with no investment or other outside funding. We survive by
          building cool products and getting cool people to pay for them, and
          don't need to sacrifice our ethics!
        </p>
      </li>
       -->
    </ul>
  </div>
</section>

<style>
  .faq {
    padding: 50px 0;
    border-top: 1px solid #d5d5d5;
  }

  .faq p {
    margin-top: 0.5em;
  }

  .question {
    margin-top: 1.5em;
  }

  .faq ul {
    padding: 0;
    list-style: none;
  }
  .faq h4 {
    font-weight: 500;
  }
</style>
