<div class="footer">
  <div class="content">
    <h3 class="footer-title"><a href="/">EllieAI</a></h3>
    <p>
      Powered by OpenAI, learns your writing style and replies to emails as if
      you wrote them.
    </p>
    <p>This web page was written in HTML by hand! Not by an AI ;)</p>
    <p>
      <a href="/privacy">Privacy Policy</a> •
      <a href="/terms">Terms of Service</a> • <a href="/help">Help</a> •
      <a href="/downloads">Downloads</a> •
      <a href="https://github.com/squarecat/ellie/releases">Releases</a>
    </p>
    <br /><br />
    <div class="contact">
      <p><a href="/forgot">Forgot your licence key</a></p>
      <p><a href="/billing">Manage your subscription</a></p>
      <p>
        Need help? Email us
        <a href="mailto:hi@ellieai.com">hi@ellieai.com</a>
      </p>
    </div>
  </div>
</div>

<style>
  .footer {
    display: flex;
    border-top: 1px solid var(--border-color);
    background: var(--font-color);
    color: #d5d5d5;
    flex-direction: column;
  }
  .footer p {
    margin: 0 0 10px 0;
  }
  .footer a {
    font-weight: 500;
    color: #d5d5d5;
  }
  .footer-title a {
    text-decoration: none;
  }
</style>
