---
import { t, setDefaultNamespace } from "i18next";
import { Trans } from "astro-i18next/components";

setDefaultNamespace("common");
---

<div class="footer">
  <div class="content">
    <h3 class="footer-title"><a href="/">Ellie</a></h3>
    <p>
      {t("footer.description")}
    </p>
    <p>
      <Trans i18nKey="footer.disclaimer">
        This web page was written in HTML by hand! Not by an AI, <a
          href="https://blog.leavemealone.app/internationalizing-our-website-with-gpt-3/"
          >but translations were done by GPT-3</a
        >
      </Trans>
    </p>
    <p>
      <a href="/privacy">{t("nav.privacy")}</a> •
      <a href="/terms">{t("nav.terms")}</a> •
      <a href="https://help.tryellie.com">{t("nav.help")}</a> •
      <a href="/downloads">{t("nav.downloads")}</a> •
      <a href="https://github.com/squarecat/ellie/releases">
        {t("nav.releases")}
      </a>
    </p>
    <br /><br />
    <div class="contact">
      <p><a href="/forgot">{t("nav.forgot")}</a></p>
      <p><a href="/billing">{t("nav.manage-subscription")}</a></p>
      <p>
        <Trans i18nKey="nav.need-help">
          <a href="mailto:hi@tryellie.com">hi@tryellie.com</a>
        </Trans>
      </p>
    </div>
    <div class="other">
      <h3 class="footer-title"><a href="/">Other tools by us:</a></h3>
      <p>
        <a href="https://startkit.ai">StartKit.AI - Build AI Startups Faster</a>
      </p>
      <p>
        <a href="https://leavemealone.com"
          >Leave Me Alone - Easily Unsubscribe from Unwanted Emails</a
        >
      </p>
      <p>
        <a href="https://squarecat.io">Squarecat - Our portfolio</a>
      </p>
    </div>
  </div>
</div>

<style>
  .footer {
    display: flex;
    border-top: 1px solid var(--border-color);
    background: var(--font-color);
    color: #d5d5d5;
    flex-direction: column;
    padding: 3em 0;
    margin-top: 3em;
  }
  .footer p {
    margin: 0 0 10px 0;
  }
  .footer a {
    font-weight: 500;
    color: #d5d5d5;
  }
  .footer-title a {
    text-decoration: none;
  }
</style>
