---
import { t, setDefaultNamespace } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector, Trans } from "astro-i18next/components";
import LanguageDropdown from "./LanguageDropdown.svelte";

setDefaultNamespace("common");
---

<div class="header">
  <div class="header-content">
    <ol>
      <li>
        <a href={localizePath("/")} class="header-link">{t("nav.home")}</a>
      </li>
      <li>
        <a href={localizePath("/pricing")} class="header-link"
          >{t("nav.pricing")}</a>
      </li>
      <li class="right">
        <LanguageSelector showFlag={true} class="language-select" />
        <!-- <LanguageDropdown client:load /> -->
      </li>
      <li>
        <a href={localizePath("/downloads")} class="header-link"
          >{t("nav.downloads")}</a
        >
      </li>
    </ol>
  </div>
</div>

<style>
  .header {
    height: 60px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .header-content ol {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .header-title {
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
  }
  .header-link {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }

  .header-link:hover {
    background: #eeeeee;
  }
  .header ol {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    justify-content: flex-start;
  }

  .header ol .right {
    margin-left: auto;
  }

  .language-select {
    max-height: 35px;
    padding: 8px 0px 8px 5px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: 0;
    background: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }

  .language-select:hover {
    background: #eeeeee;
  }
</style>
