---
import { setDefaultNamespace, t, changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

setDefaultNamespace("downloads");
---

<script>
  let inviteCode = window.localStorage.getItem("invite-code");

  const apiUrl = window.location.href.includes("localhost")
    ? "http://localhost:3113"
    : "https://api.ellieai.com";

  async function submitSignupForm(e) {
    e.preventDefault();
    const btn = document.getElementById("submit-btn");
    btn.setAttribute("disabled", true);
    btn.innerText = "Loading...";

    const email = document.getElementById("email-address").value;
    const inviteCode = document.getElementById("invite-code").value;
    const marketingConsent = document.getElementById("get-updates").checked;
    const data = { email, marketingConsent, inviteCode };
    const output = await fetch(`${apiUrl}/signup`, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    });
    btn.removeAttribute("disabled");
    btn.innerText = "Submit";

    const json = await output.json();
    if (json.errored) {
      alert(json.message);
    }
    if (json.success) {
      document.getElementById("submit-container").classList.add("hidden");
      document.getElementById("result").classList.remove("hidden");
    }
  }

  document
    .getElementById("signup-form")
    .addEventListener("submit", submitSignupForm);

  document.getElementById("invite-code").value = inviteCode;
</script>

<Main title={t("meta.title")}>
  <div class="page">
    <div class="content">
      <h1>{t("title")}</h1>

      <div id="submit-container" class="signup">
        <Trans i18nKey="licence-description" ns="downloads">
          <p>
            Ellie requires a <strong>FREE Licence Key</strong>.
          </p>
          <p>
            This will allow Ellie to generate you up
            <strong>2 replies</strong>
            per day.
          </p>
          <p>
            If you need more replies you can
            <a href="/pricing">upgrade to a paid plan</a>!
          </p>
        </Trans>
        <br />
        <form id="signup-form">
          <div class="form-group">
            <label for="email-address">{t("common:labels.your-email")}</label
            ><br />
            <input
              required
              type="email"
              placeholder="you@example.com"
              id="email-address"
              class="form-input"
            />
          </div>

          <div class="form-group">
            <input type="checkbox" id="get-updates" class="form-checkbox" />
            <label for="get-updates">{t("labels.get-updates")}</label>
            <div>
              <span>{t("labels.no-spam")}</span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              required
              id="terms-confirm"
              class="form-checkbox"
            />
            <label for="terms-confirm">
              <Trans i18nKey="labels.terms" ns="downloads">
                I agree to the <a href="/terms">terms</a>
              </Trans>
            </label>
            <div>
              <p>
                <Trans i18nKey="labels.disclaimer" ns="downloads">
                  Remember <strong>you</strong> are still responsible for the emails
                  you send. Please check anything that Ellie generates thoroughly!
                </Trans>
              </p>
            </div>
          </div>

          <input type="hidden" id="invite-code" />

          <div class="form-group">
            <button id="submit-btn" type="submit" class="btn cta-btn">
              {t("cta")}<svg
                style="margin-left: 5px"
                role="presentation"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
              >
                <path d="M22 6 L30 16 22 26 M30 16 L2 16"></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="result" class="section result hidden">
      <div class="content">
        <h2>{t("success")}</h2>
        <Trans i18nKey="result" ns="downloads">
          <p>Thanks for signing up!</p>
          <p>
            <strong>
              Your licence key has been emailed to you! Make sure to check your
              spam!
            </strong>
          </p>
          <p>You'll need to enter this after you install the extension.</p>
        </Trans>
      </div>
    </div>
    <div class="content">
      <div class="extension-section">
        <h2>Chrome</h2>

        <p>
          {t("chrome.available")}
        </p>
        <a
          href="https://chrome.google.com/webstore/detail/ellie-your-ai-email-assis/mhcnlcilgicfodlpjcacgglchmpoojcp"
          class="btn download-btn"
        >
          <img
            class="browser-img"
            src="assets/images/browsers/chrome_128x128.png"
            alt=""
            role="presentation"
          />
          <span>{t("chrome.get")}</span>
        </a>

        <h2>Firefox</h2>
        <p>
          {t("firefox.available")}
        </p>
        <a
          href="https://addons.mozilla.org/en-US/firefox/addon/ellie-your-ai-email-assistant/"
          class="btn download-btn"
        >
          <img
            class="browser-img"
            src="assets/images/browsers/firefox_128x128.png"
            alt=""
            role="presentation"
          />
          <span>{t("firefox.get")}</span>
        </a>
      </div>
    </div>
  </div>
</Main>
