---
import i18next, { changeLanguage, setDefaultNamespace, t } from "i18next";
import Main from "../../layouts/Main.astro";
import FAQ from "../../components/FAQ.astro";
import Stats from "../../components/Stats.svelte";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Video from "../../components/Video.svelte";
import Proof from "../../components/Proof.astro";

changeLanguage("de");

setDefaultNamespace("common");
---

<Main title={t("meta.title")}>
  <div class="page">
    <div class="hero">
      <div class="content">
        <h1 class="hero-title">
          {t("hero.title")}
          <svg
            role="presentation"
            class="heart"
            viewBox="0 0 32 32"
            width="20"
            height="20"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z"
            ></path>
          </svg>
        </h1>
        <p class="hero-lead">
          {t("hero.description")}
        </p>
        <Video
          flat
          innerClass="hero-img"
          client:load
          url="https://ellie.b-cdn.net/hero.mov"
        />
      </div>
    </div>

    <section class="download-section">
      <div class="container">
        <Stats client:only shown={i18next.language === "en"} />
        <span class="btn-group">
          <span>
            <a class="btn cta" href="/downloads">
              <span>{t("main.cta")}</span>
              <span class="browser-icons">
                <img
                  class="browser-icon"
                  src="/assets/chrome.png"
                  alt="chrome icon"
                />
                <img
                  class="browser-icon"
                  src="/assets/firefox.png"
                  alt="firefox icon"
                />
              </span>
            </a>
            <span class="available">{t("main.version")}</span>
          </span>
          <a class="btn cta secondary" href="/pricing">
            <span>{t("main.purchase")}</span>
          </a>
        </span>
      </div>
    </section>

    <Proof />

    <section class="section image-section image-right">
      <div class="section-text">
        <h2>{t("features:context.title")}</h2>
        <Trans i18nKey="context.content" ns="features">
          <p>
            Ellie takes context from the email thread to
            <strong>craft intelligent replies</strong>.
          </p>
          <p>We promise you'll be blown away by Ellie's responses!</p>
        </Trans>
        <div class="inline-review">
          <svg
            width="121"
            height="21"
            viewBox="0 0 121 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M10.5984 0.272079L12.8435 7.18191H20.109L14.2311 11.4524L16.4762 18.3622L10.5984 14.0917L4.72054 18.3622L6.96568 11.4524L1.08782 7.18191H8.35325L10.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M35.5984 0.272079L37.8435 7.18191H45.109L39.2311 11.4524L41.4762 18.3622L35.5984 14.0917L29.7205 18.3622L31.9657 11.4524L26.0878 7.18191H33.3532L35.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M60.5984 0.272079L62.8435 7.18191H70.109L64.2311 11.4524L66.4762 18.3622L60.5984 14.0917L54.7205 18.3622L56.9657 11.4524L51.0878 7.18191H58.3532L60.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M85.5984 0.272079L87.8435 7.18191H95.109L89.2311 11.4524L91.4762 18.3622L85.5984 14.0917L79.7205 18.3622L81.9657 11.4524L76.0878 7.18191H83.3532L85.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M110.598 0.272079L112.844 7.18191H120.109L114.231 11.4524L116.476 18.3622L110.598 14.0917L104.721 18.3622L106.966 11.4524L101.088 7.18191H108.353L110.598 0.272079Z"
                fill="#F7E011"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  x="0.598389"
                  y="0.272079"
                  width="120"
                  height="20"
                  fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="jared" ns="testimonials">
                <span class="review-highlight"
                  >Ellie knows exactly what I want to say</span
                >, and the exact right way to say it.
              </Trans>
            </p>

            <p class="review-author">- Jared</p>
          </blockquote>
        </div>
      </div>
      <div class="image-container">
        <img
          src="/assets/context-email.png"
          role="presentation"
          alt="Showing Ellie write a context filled email"
          class="example-image"
        />
      </div>
    </section>

    <section class="section image-section image-left">
      <div class="image-container">
        <img
          src="/assets/language.png"
          role="presentation"
          alt="Showing Ellie write a context filled email"
          class="example-image"
        />
      </div>
      <div class="section-text">
        <h2>{t("features:multilingual.title")}</h2>
        <p>
          <Trans i18nKey="multilingual.content" ns="features">
            Ellie will reply in <strong>any language</strong> to match the email
            being replied to.
          </Trans>
        </p>
        <div class="inline-review">
          <svg
            width="121"
            height="21"
            viewBox="0 0 121 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M10.5984 0.272079L12.8435 7.18191H20.109L14.2311 11.4524L16.4762 18.3622L10.5984 14.0917L4.72054 18.3622L6.96568 11.4524L1.08782 7.18191H8.35325L10.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M35.5984 0.272079L37.8435 7.18191H45.109L39.2311 11.4524L41.4762 18.3622L35.5984 14.0917L29.7205 18.3622L31.9657 11.4524L26.0878 7.18191H33.3532L35.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M60.5984 0.272079L62.8435 7.18191H70.109L64.2311 11.4524L66.4762 18.3622L60.5984 14.0917L54.7205 18.3622L56.9657 11.4524L51.0878 7.18191H58.3532L60.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M85.5984 0.272079L87.8435 7.18191H95.109L89.2311 11.4524L91.4762 18.3622L85.5984 14.0917L79.7205 18.3622L81.9657 11.4524L76.0878 7.18191H83.3532L85.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M110.598 0.272079L112.844 7.18191H120.109L114.231 11.4524L116.476 18.3622L110.598 14.0917L104.721 18.3622L106.966 11.4524L101.088 7.18191H108.353L110.598 0.272079Z"
                fill="#F7E011"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  x="0.598389"
                  y="0.272079"
                  width="120"
                  height="20"
                  fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="julie" ns="testimonials">
                I struggled to compose formal emails in English, but now Ellie
                writes them and <span class="review-highlight"
                  >saves me SO much time!</span
                > 🤩
              </Trans>
            </p>
            <p class="review-author">- Julie Berteaux</p>
          </blockquote>
        </div>
      </div>
    </section>

    <section class="section image-section image-right">
      <div class="section-text">
        <h2>{t("features:iterate.title")}</h2>

        <p>
          <Trans i18nKey="iterate.content" ns="features">
            You can <strong>revise</strong> Ellie's response to something, to tweak
            exactly what you want Ellie to say.
          </Trans>
        </p>

        <div class="inline-review">
          <svg
            width="121"
            height="21"
            viewBox="0 0 121 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M10.5984 0.272079L12.8435 7.18191H20.109L14.2311 11.4524L16.4762 18.3622L10.5984 14.0917L4.72054 18.3622L6.96568 11.4524L1.08782 7.18191H8.35325L10.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M35.5984 0.272079L37.8435 7.18191H45.109L39.2311 11.4524L41.4762 18.3622L35.5984 14.0917L29.7205 18.3622L31.9657 11.4524L26.0878 7.18191H33.3532L35.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M60.5984 0.272079L62.8435 7.18191H70.109L64.2311 11.4524L66.4762 18.3622L60.5984 14.0917L54.7205 18.3622L56.9657 11.4524L51.0878 7.18191H58.3532L60.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M85.5984 0.272079L87.8435 7.18191H95.109L89.2311 11.4524L91.4762 18.3622L85.5984 14.0917L79.7205 18.3622L81.9657 11.4524L76.0878 7.18191H83.3532L85.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M110.598 0.272079L112.844 7.18191H120.109L114.231 11.4524L116.476 18.3622L110.598 14.0917L104.721 18.3622L106.966 11.4524L101.088 7.18191H108.353L110.598 0.272079Z"
                fill="#F7E011"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  x="0.598389"
                  y="0.272079"
                  width="120"
                  height="20"
                  fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="hicham" ns="testimonials">
                Very easy to use.
                <span class="review-highlight"
                  >Ellie has made writing emails so much faster!</span
                >
                Thank you!
              </Trans>
            </p>
            <p class="review-author">- Hicham Annik</p>
          </blockquote>
        </div>
      </div>

      <Video
        innerClass="hero-img"
        client:visible
        url="https://ellie.b-cdn.net/revisions.mov"
      />
    </section>

    <section class="section image-section image-left">
      <Video
        innerClass="hero-img"
        client:visible
        url="https://ellie.b-cdn.net/context.mov"
      />
      <div class="section-text">
        <h2>{t("features:tailor.title")}</h2>
        <p>
          <Trans i18nKey="tailor.content" ns="features">
            You can provide <strong>extra context</strong> to Ellie for the perfect
            reply for every email.
          </Trans>
        </p>
        <div class="inline-review">
          <svg
            width="121"
            height="21"
            viewBox="0 0 121 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M10.5984 0.272079L12.8435 7.18191H20.109L14.2311 11.4524L16.4762 18.3622L10.5984 14.0917L4.72054 18.3622L6.96568 11.4524L1.08782 7.18191H8.35325L10.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M35.5984 0.272079L37.8435 7.18191H45.109L39.2311 11.4524L41.4762 18.3622L35.5984 14.0917L29.7205 18.3622L31.9657 11.4524L26.0878 7.18191H33.3532L35.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M60.5984 0.272079L62.8435 7.18191H70.109L64.2311 11.4524L66.4762 18.3622L60.5984 14.0917L54.7205 18.3622L56.9657 11.4524L51.0878 7.18191H58.3532L60.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M85.5984 0.272079L87.8435 7.18191H95.109L89.2311 11.4524L91.4762 18.3622L85.5984 14.0917L79.7205 18.3622L81.9657 11.4524L76.0878 7.18191H83.3532L85.5984 0.272079Z"
                fill="#F7E011"></path>
              <path
                d="M110.598 0.272079L112.844 7.18191H120.109L114.231 11.4524L116.476 18.3622L110.598 14.0917L104.721 18.3622L106.966 11.4524L101.088 7.18191H108.353L110.598 0.272079Z"
                fill="#F7E011"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  x="0.598389"
                  y="0.272079"
                  width="120"
                  height="20"
                  fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="joan" ns="testimonials">
                With Ellie
                <span class="review-highlight">I can answer every email</span>
                and not waste any time.
              </Trans>
            </p>
            <p class="review-author">- Joan</p>
          </blockquote>
        </div>
      </div>
    </section>

    <FAQ />
  </div>
</Main>
