---
import { changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";

changeLanguage("de");
---

<Main title="Join a Team - Ellie: Your AI Email Assistant">
  <div class="page">
    <div class="content">
      <h1>Join a team</h1>

      <div id="submit-container" class="signup">
        <p>
          You are joining the team of <strong id="team-owner"></strong>, enter
          your email address and we will send you a licence key.
        </p>
        <br />
        <form id="team-form">
          <div class="form-group">
            <label for="email-address">Your email address:</label><br />
            <input
              required
              type="email"
              placeholder="you@example.com"
              id="email-address"
              class="form-input"
            />
          </div>

          <div class="form-group">
            <input type="checkbox" id="get-updates" class="form-checkbox" />
            <label for="get-updates"
              >Get updates about Ellie to your email address</label
            >
            <div>
              <span
                >We promise not to spam you, our emails won't be created with AI
                ;)</span
              >
            </div>
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              required
              id="terms-confirm"
              class="form-checkbox"
            />
            <label for="terms-confirm"
              >I agree to the <a href="/terms">terms</a>
            </label>
            <div>
              <span>
                Remember <strong>you</strong> are still responsible for the emails
                you send. Please check anything that Ellie generates thoroughly!
              </span>
            </div>
          </div>

          <input type="hidden" id="team-code" />

          <div class="form-group">
            <button id="submit-btn" type="submit" class="btn cta-btn">
              Get Licence Key<svg
                style="margin-left: 5px"
                role="presentation"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
              >
                <path d="M22 6 L30 16 22 26 M30 16 L2 16"></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="result" class="section result hidden">
      <div class="content">
        <h2>Success! ✅</h2>
        <p>
          Thanks for signing up!
          <br />
        </p>
        <p>
          <strong
            >Your licence key has been emailed to you! Make sure to check your
            spam!</strong
          >
        </p>
        <p>You'll need to enter this after you install the extension.</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="extension-section">
      <h2>Chrome</h2>
      <p>
        Ellie is available on the Chrome Store. Please follow the instructions
        to add to Chrome!
      </p>
      <a
        href="https://chrome.google.com/webstore/detail/ellie-your-ai-email-assis/mhcnlcilgicfodlpjcacgglchmpoojcp"
        class="btn download-btn"
      >
        <img
          class="browser-img"
          src="assets/images/browsers/chrome_128x128.png"
          alt=""
          role="presentation"
        />
        <span>Get Ellie for Chrome</span>
      </a>

      <h2>Firefox</h2>
      <p>
        Ellie is available in the Firefox store. Please follow the instructions
        to add to Firefox!
      </p>
      <a
        href="https://addons.mozilla.org/en-US/firefox/addon/ellie-your-ai-email-assistant/"
        class="btn download-btn"
      >
        <img
          class="browser-img"
          src="assets/images/browsers/firefox_128x128.png"
          alt=""
          role="presentation"
        />
        <span>Get Ellie for Firefox</span>
      </a>
    </div>
  </div>

  <div class="footer">
    <div class="content">
      <h3 class="footer-title"><a href="/">Ellie</a></h3>
      <p>
        Powered by OpenAI, learns your writing style and replies to emails as if
        you wrote them.
      </p>
      <p>This web page was written in HTML by hand! Not by an AI ;)</p>
      <p>
        <a href="/privacy">Privacy Policy</a> •
        <a href="/terms">Terms of Service</a> • <a
          href="https://help.tryellie.com">Help</a
        > •
        <a href="/downloads">Downloads</a> •
        <a href="https://github.com/squarecat/ellie/releases">Releases</a>
      </p>
      <br /><br />
      <div class="contact">
        <p><a href="/forgot">Forgot your licence key</a></p>
        <p><a href="/billing">Manage your subscription</a></p>
        <p>
          Need help? Email us
          <a href="mailto:hi@tryellie.com">hi@tryellie.com</a>
        </p>
      </div>
    </div>
  </div>
</Main>
