---
import { setDefaultNamespace, t, changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";
import PricingComponent from "../../components/Pricing.svelte";

changeLanguage("de");

setDefaultNamespace("pricing");
---

<Main title={t("meta.title")}>
  <script src="https://js.stripe.com/v3/"></script>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>

  <div class="page">
    <div class="content">
      <div class="price-title">
        <h1>{t("title")}</h1>
        <p class="hero-lead"></p>
      </div>
    </div>

    <!-- <section class="container">
      <div class="price-banner">
        <Trans i18nKey="banner.promo">
          <p>Ellie is now lightning fast ⚡️</p>
          <p>
            Ellie now writes replies 10x faster than before! Enjoy 50% off all plans with the promo code
            <strong class="promo-code">FASTER50</strong>
          </p>
          <p>Available this week only!</p>
        </Trans>
      </div>
      <p class="promo-note">
        {t("promo")}
      </p>
    </section> -->

    <div id="submit-container" class="signup">
      <PricingComponent client:only />
    </div>
  </div>
</Main>
